<h3>This is your collection</h3>

<% allAlbums.forEach(album => { %>
    <h2><%= album.title %></h2>
    <p><%= album.artist %></p> 

    <form method="POST" action="/users/albums">
        <input hidden value="<%= album.name %>" name="title">
        <input hidden value="<%= album.artist %>" name="artist">
    </form>

    <form method="GET" action="/users/reviews?albumId=<%=album.id%>">
        <input hidden value="<%= album.title %>" name="title">
        <input hidden value="<%= album.artist %>" name="artist">
        <input hidden value="<%= album.id %> " name="albumId">
        <button type="submit">favorite track</button>
    </form>


    <form method="POST" action="/users/albums/<%= album.id %>?_method=DELETE">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete"/>
    </form>
<% }) %>