
<% albums.forEach(album => { %>
    <div>
      <h3>Title: <%= album.name %></h3>
      <p>Artist: <%= album.artist %></p>
      <img src="<%= album.image[0] %>" />
      
      <form method="POST" action="/users/albums">
        <input hidden value="<%= album.name %>" name="title">
        <input hidden value="<%= album.artist %>" name="artist">
        <button type="submit">Add to collection</button>
      </form>
  </div>
<% }) %>
 